#seccion-form {
    position: absolute;
    background-color: rgba(34, 64, 100, 1);
    padding: 30px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
}

.container-titulos {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;

}

.dropdown {

    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    width: 100%;
}

.opciones {
    border-color: black;
    border-width: 1px;
    font-size: 1.2rem;
    font-weight: 500;
    outline: 0;
    width: 80%;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
}

#seccion-form h1 {
    font-size: 1.6rem;
    font-weight: 700;
}

.pregunta {
    font-size: 1.2rem;
    padding-top: 0.9rem;
    font-weight: 500;
    padding-bottom: 1rem;

}


.container-form {
    color: white;
    margin: 0 auto;

}

.ayuda {
    text-align: left;
    font-size: 1.1rem;
    padding-left: 5px;
    font-weight: 500;
}

.casillas {
    text-align: left;
    margin: 30px auto;
    width: 100%;
}

.casilla {
    width: 300px;
    margin: 5px 0;
    padding-left: 10px;
    height: 35px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.btn-centrado {

    display: flex;
    justify-content: center;
    margin: 0.8rem 0;

}

.boton-form {
    cursor: pointer;
    text-align: center;

}

@media (max-width: 768px) {

    #seccion-form {

        padding-top: 30px;
    }

    .pregunta {

        font-size: 1.2rem;
    }

    #seccion-form h1 {
        font-size: 1.4rem;
        font-weight: 700;
    }

    .btn-centrado {

        margin: 1rem 0;

    }

    .boton-form {

        margin: 0;
    }

    .casillas {

        margin: 30px 0 0 0;

    }

    .opciones {

        font-size: 1.1rem;

    }


}