html {
  scroll-behavior: smooth;
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow-y: hidden;
}

.scroll-effect {
  background: rgba(4, 30, 60, 1, 0.9);
  backdrop-filter: blur(50px);
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding: 20px 180px 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-menu-item {
  width: max-content;
}

.logo{
    width: 50px;
}

.nav-menu-link {
  display: inline-block;
  color: #ff7b00;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: transform 0.2s ease;
}

.nav-menu-link:hover {
  transform: scale(1.05);
}

.nav-toggle {
  background: none;
  border: none;
  display: none;
}

section {
  width: 100%;
  height: 100%;
  padding: 70px 180px;
  margin: 0;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {

  html {
    overflow-x: hidden;
  }

  .logo {
    width: 50%;
  }

  .nav-menu {
    flex-direction: column;
    align-items: end;
  }

  .nav-toggle {
    display: block;
  }

  .nav {
    z-index: 4;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 40px 30px 0;
    background-color: #00147b;
    height: 100svh;
    margin: 0;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  nav.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .header {
    position: relative;
    background-color: #00147b;
    padding: 35px 30px 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.07' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  }

  section {
    width: 100%;
    padding: 100px 0 0 0;
  }
}
